*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: rgb(27, 11, 63);
 
}

.container {
  height: 40rem;
  width:92%;
  margin-left: 5%;
  margin-top: 1%;
}

h3{
  color: #fff;
  margin-left: 5rem;
}
.start {
  background-image: url(./Image/startofweek.png);
 background-size: 100% 100%;
  width: 6rem;
  height: 4rem;
  margin-left: 5rem;
  border-radius: 6px;
  margin-top:1rem;
  
}
.putting{
  height:2.9rem;
  width:14rem;
  font-size: 1.5rem;
  margin-top:2rem;
 border-color: white;
 border-radius: 6px;
}
.both{
  width:20%;
  margin-left: 40%;
}
.awesome{
 width:40px;
  height:40px;

 font-size:2rem;
 margin-left: 15%;

}

.allInput{
  width:25%;
 display: flex;
  height: 6rem;
}
.addTo{
  color:green;
  background-color: #fff;
  margin-left:53%;
  margin-top: 9.3%;
  height: 2.9rem;
  width: 3rem;
  border-radius: 8px;
  cursor: pointer;
}
.addCl{
  height: 3rem;
  width: 3rem;
}

button{
  height:3rem;
  font-size: 1.4rem;
  height:3rem;
  width:6rem;
  background-color:white;
  margin-top:4rem;
  margin-left: 40%;
  align-items: center;
}

h3{
  margin-top:2rem;
}



.forCheck{
  background-color:white;
  border-radius: 8px;
  height:3,5rem;
  width:20%;
  font-size:2.5rem;
  align-items: flex-start;
  margin-left:60%;
  display:flex;
  margin-top: 1rem;
}

.edit{
  color: green;
  margin-left:10%;
  margin-top: 2px;

}

.delete{
  color: red;
  border:1px solid black;
  margin-top: 2px;
  margin-left: 4px;
  border: none;
}


.itemLoc{
  height:4rem;
  width:6rem;
  background-color: green;
  margin-top:20rem;
}

.Wrap{
  background-color:orange;
  margin-left: 60%;
}

.special{
  width:10rem;
  height:90%;
 margin-left: 8px;
  overflow-wrap: anywhere;
}

.todo{
  margin-left:5%;
  display:flex;
}


.removing {
  width: 8rem;
  height: 3rem; 
  border-radius: 8px;
}